body {
    background-color: #444444;
    text-align: center;
    color: whitesmoke;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    margin: 0 auto;
    margin-top: 100px;
    width: 600px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #707070;
}
h1 {
    letter-spacing: 1px;
    font-size: 40px;
}
p {
    font-size: 1.5rem;
}
a {
    font: 400;
    text-decoration-color: tomato;
    color: #f3b2a8;
}
a:hover {
    color: violet;
    transition: 1s;
    transform: scale()
}